body{
    margin:0;
    padding:0;
    background-color:darkkhaki;
}
.navbar {
    background-color:darkorange;
    overflow: hidden;
}

.navbar .nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:space-around;
}

.navbar .nav-item {
    margin: 0;
    padding: 0;
}

.navbar .nav-item a {
    display:block;
    text-align:right;
    padding: 14px 20px;
    text-decoration:none;
}

.navbar .nav-item a:hover {
    background-color:darkturquoise;
    color:lightgreen;
}

.content {
    padding: 20px;
}

section {
    margin: 20px 0;
}

.container {
    background-color:lightpink;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin: 200px auto;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 180px;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

li {
    background: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-btn {
    background: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
}

.delete-btn:hover {
    background: #c82333;
}
